header{
    display: flex;
    justify-content: space-between;
    width: 1180px;
    padding-top:20px ;
    margin: 0 auto;
    align-items: center;
    font:600 16px Montserrat;
    & .right{
        display: flex;
        align-items: center;
        gap:30px;
        & .sign{
            border-radius: 14px;
            border: 1px solid rgba(43, 120, 139, 1);
            padding: 13px 21px;
            background-color: rgba(43, 120, 139, 1);
            color: rgba(255, 255, 255, 1);
        }
    }
}